language: python
python:
- '3.5'
- '3.6'
sudo: false
install:
- pip install -r requirements.txt
- pip install ./
script: pytest
deploy:
  provider: pypi
  user: gaojiuli
  password:
    secure: o8aopLjJTbzqUOnMR9kK4rAkjvoL+pfCe5epFj2PUgkfRCOtyMDpWnBlUNRsxINs9C/Jb/ADtIUIUNx0iOgy4R/LyLwslBoPlIaQzL2fU6v6ax45ekMelo23H1IO3EOtSYzvsJxSd+DydXDlJwr+VDlwSzxwg3vF3nEjsXPfLIhO8ZdchxHl8plGuf3x8GDHb92qov/P3SG1toT8UkBOzCH35RXi5M7x5+sR6YsxNN2ynnm2QJ36wtPrqBxED7gPZ87qttL4w6Wyiko0qLdrWfle7K+pJirIK69KdLCTSAFIwasMHJ4+wl5qOMgfebwKTxsj1GcefNsdNUKsDgH60odvDbWNHQSKvtX6RbVk6TRXqJZbp2e1/OOZa5Z9yH23yF3wFNdzXykHLKsg5zMR6rmvABpeQpydQgLFr1ROJAgW9vLEd/KiY9uHD54RWMLugSE2D99a3DGjRE0tA8F4Ik47bJDt2zKgW18OwaKuMKUNvM/Q09oMxCnAtlIeA8SU2SLEyY3dAevdfJ0dEKL5WXh2FPO7dPX8/4jirV8CH5XpHEMoJ3KC5a2QB6+8wZFz3wBJy9dpzlM3d5ra7vKOU1GdOcWRjhJn2hkhwWVYH6jAW8lYqk3vnv2Wxhu80D+/l3/ayAEqord8wuRBw1ZYzDtqxlVOoIoP0dKFy1RP0sI=
  on:
    tags: true